<div data-cols="4" data-first="1" data-last="8" class="elm-item-organizer-container column-4 layout-box carousel-disabled">

  <div data-id="1" class="item item1 item-first image-present align-center">
    <a href="https://hotelperrakis.com/accommodation-in-andros/">
      <div class="item-thumbnail thumb-hover">

        <div class="item-thumb-img"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/slider-back-standard-sea/slider-back-standard-sea-212733921.jpg" alt="Accommodation in Andros"></div>
        <div class="item-thumb-hvr"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/1-Hotel-Perrakis-1/1-Hotel-Perrakis-1-1312478880.jpg" alt="Accommodation in Andros"></div>

      </div>

      <div class="item-title">
        <h3>Accommodation in Andros</h3>
        <p>Genuine Greek hospitality</p>
      </div>
    </a>

    <div class="item-text">
      <div class="item-excerpt"><p>Enjoy your vacation, where white meets blue with the best accommodation on Andros, under the Greek summer light!</p></div>
      <span class="readmore"><a href="https://hotelperrakis.com/accommodation-in-andros/">READ MORE</a></span>
    </div>
  </div>

  <div data-id="2" class="item item2 image-present align-center">
    <a href="https://hotelperrakis.com/facilities-services/cyclades-restaurant-in-andros/">
      <div class="item-thumbnail thumb-hover">

        <div class="item-thumb-img"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/0-Hotel-Perrakis-37/0-Hotel-Perrakis-37-1065631225.jpg" alt="Cyclades Restaurant"></div>
        <div class="item-thumb-hvr"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/3-Hotel-Perrakis-34/3-Hotel-Perrakis-34-1130158050.jpg" alt="Cyclades Restaurant"></div>

      </div>

      <div class="item-title">
        <h3>Cyclades Restaurant</h3>
        <p>The summer restaurant!</p>
      </div>
    </a>

    <div class="item-text">
      <div class="item-excerpt"><p>One of the most popular restaurants in Andros. Stuffed, stylish and delicious, it welcomes you in a calm summer setting.</p></div>
      <span class="readmore"><a href="https://hotelperrakis.com/facilities-services/cyclades-restaurant-in-andros/">READ MORE</a></span>
    </div>
  </div>

  <div data-id="3" class="item item3 image-present align-center">
    <a href="https://hotelperrakis.com/facilities-services/pool-bar-in-andros/">
      <div class="item-thumbnail thumb-hover">

        <div class="item-thumb-img"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/POOLBAR-2/POOLBAR-2-60277346.jpg" alt="Pool Bar"></div>
        <div class="item-thumb-hvr"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/POOLBAR-1/POOLBAR-1-2367210881.jpg" alt="Pool Bar"></div>

      </div>

      <div class="item-title">
        <h3>Pool Bar</h3>
        <p>Fun around the pool!</p>
      </div>
    </a>

    <div class="item-text">
      <div class="item-excerpt"><p>Summer means refreshing dives under the hot sun, fresh juices and unbelievable cocktails, along with great music.</p></div>
      <span class="readmore"><a href="https://hotelperrakis.com/facilities-services/pool-bar-in-andros/">ΔΕΙΤΕ ΠΕΡΙΣΣΟΤΕΡΑ</a></span>
    </div>
  </div>

  <div data-id="4" class="item item4 item-last image-present align-center">
    <a href="https://hotelperrakis.com/facilities-services/blue-bar-lounge-in-andros/">
      <div class="item-thumbnail thumb-hover">

        <div class="item-thumb-img"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/BLUEBAR5/BLUEBAR5-4188289459.jpg" alt="Blue Bar Lounge"></div>
        <div class="item-thumb-hvr"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/BLUEBAR-1/BLUEBAR-1-3471988762.jpg" alt="Blue Bar Lounge"></div>

      </div>

      <div class="item-title">
        <h3>Blue Bar Lounge</h3>
        <p>A voyage to relaxation</p>
      </div>
    </a>

    <div class="item-text">
      <div class="item-excerpt"><p>At the Blue Bar Lounge and on the white wooden deck you will enjoy the best cocktails, while the blue of the Aegean will unfold in front of you.</p></div>
      <span class="readmore"><a href="https://hotelperrakis.com/facilities-services/blue-bar-lounge-in-andros/">READ MORE</a></span>
    </div>
  </div>

  <div data-id="5" class="item item5 item-first image-present align-center">
    <a href="https://hotelperrakis.com/facilities-services/kypri-beach-bar-in-andros/">
      <div class="item-thumbnail thumb-hover">

        <div class="item-thumb-img"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/KYPRIBAR-4/KYPRIBAR-4-518993205.jpg" alt="Kypri Beach Bar"></div>
        <div class="item-thumb-hvr"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/KYPRIBAR-1/KYPRIBAR-1-1443838801.jpg" alt="Kypri Beach Bar"></div>

      </div>

      <div class="item-title">
        <h3>Kypri Beach Bar</h3>
        <p>Enjoy the sea!</p>
      </div>
    </a>

    <div class="item-text">
      <div class="item-excerpt"><p>From a hotel on the seafront, you could not miss the beach bar, the necessary complement of your summer vacation.</p></div>
      <span class="readmore"><a href="https://hotelperrakis.com/facilities-services/kypri-beach-bar-in-andros/">READ MORE</a></span>
    </div>
  </div>

  <div data-id="6" class="item item6 image-present align-center">
    <a href="https://hotelperrakis.com/facilities-services/scuba-diving-in-andros/">
      <div class="item-thumbnail thumb-hover">

        <div class="item-thumb-img"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/slider-back-scuba/slider-back-scuba-2806252288.jpg" alt="Scuba diving…"></div>
        <div class="item-thumb-hvr"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/vouvi-reef-7/vouvi-reef-7-2876702496.jpg" alt="Scuba diving…"></div>

      </div>

      <div class="item-title">
        <h3>Scuba diving…</h3>
        <p>... and boat tours!</p>
      </div>
    </a>

    <div class="item-text">
      <div class="item-excerpt"><p>The crystal waters of Andros are full of exciting aquatic life, making it the perfect place for a diving vacation.</p></div>
      <span class="readmore"><a href="https://hotelperrakis.com/facilities-services/scuba-diving-in-andros/">READ MORE</a></span>
    </div>
  </div>

  <div data-id="7" class="item item7 image-present align-center">
    <a href="https://hotelperrakis.com/facilities-services/wedding-in-andros/">
      <div class="item-thumbnail thumb-hover">

        <div class="item-thumb-img"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/slider-back-wedding/slider-back-wedding-981773775.jpg" alt="Wedding in Andros"></div>
        <div class="item-thumb-hvr"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/3-Hotel-Perrakis-42/3-Hotel-Perrakis-42-3780293548.jpg" alt="Wedding in Andros"></div>

      </div>

      <div class="item-title">
        <h3>Wedding in Andros</h3>
        <p>Unforgettable moments on the island!</p>
      </div>
    </a>

    <div class="item-text">
      <div class="item-excerpt"><p>The colours of the sky, the sea and the bluish Cycladic landscape will uniquely illuminate the most beautiful day of your life.</p></div>
      <span class="readmore"><a href="https://hotelperrakis.com/facilities-services/wedding-in-andros/">READ MORE</a></span>
    </div>
  </div>

  <div data-id="8" class="item item8 item-last image-present align-center">
    <a href="https://hotelperrakis.com/facilities-services/sea-beauty-andros-island/">
      <div class="item-thumbnail thumb-hover">

        <div class="item-thumb-img"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/sea-beuaty-featured/sea-beuaty-featured-573926673.jpg" alt="Sea Beauty"></div>
        <div class="item-thumb-hvr"><img src="https://hotelperrakis.com/wp-content/uploads/cache/images/sea-beauty-3/sea-beauty-3-3857993019.jpg" alt="Sea Beauty"></div>

      </div>

      <div class="item-title">
        <h3>Sea Beauty</h3>
        <p>See the beauty in you!</p>
      </div>
    </a>

    <div class="item-text">
      <div class="item-excerpt"><p>Experience your vacations together with colour and beauty. The Sea Beauty care of your appearance and provides you with unique treatments.</p></div>
      <span class="readmore"><a href="https://hotelperrakis.com/facilities-services/sea-beauty-andros-island/">READ MORE</a></span>
    </div>
  </div>
</div>