<img src=""/>
<div class="entry-content">

</div>
</div>
<div class="container">
  <img src="https://hotelperrakis.com/wp-content/uploads/slider-back-hotel.jpg" style="width:100%;">
  <div class="text-block">
    <h1>Hotel Perrakis</h1>
    <h2>More than just a Hotel in Andros!</h2>
    <p>Hotel Perrakis welcomes you to a perfect place near two lovely beaches, on Kypri bay, in Andros. Our people invite you to a unique Cycladic island, in one of the most&nbsp;beautiful <a href="https://hotelperrakis.com/en/hotel-in-andros-island-greece/">hotels in Andros</a>. With modern renewed facilities and <strong>great joy of hospitality</strong>. You will enjoy a swim in the pool as well as relax at the beach bar. While on the Kypri bay and at the Hotel Perrakis, you can taste the Mediterranean flavours at the Cyclades restaurant. The hotel has comfortable, attentive reception areas and stunning views&nbsp;<span style="background-color: #f5f6f5;">of the Aegean sea&nbsp;</span>the genuine Greek hospitality&nbsp;from our 44 rooms. Our staff knows how to offer the real Greek hospitality&nbsp;<span style="background-color: #f5f6f5;">freely</span>. <strong>Hotel Perrakis is the ideal holiday destination.</strong></p>
  </div>
</div>